# 必须配置
PG_HOST=
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DATABASE=quant_data

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Tushare API
TUSHARE_TOKEN=

# Web 后端
WEB_HOST=0.0.0.0
WEB_PORT=8000
WEB_WORKERS=2

# 跑批配置
BATCH_CHUNK_SIZE=100
BATCH_MAX_MEMORY_MB=1500
